.section-separator {
  margin-top: 15px;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: center;
}
.not-found {
  font-size: 30px;
}
.home-link {
  text-decoration: none;
  font-size: 18px;
}
.home-link:hover {
  color: #ff0000;
  font-size: 20px;
  font-weight: 600;
}
.font-siliguri {
  font-family: var(--font-siliguri);
}
